<?xml version="1.0" encoding="UTF-8"?>
<!--
    Rdzeń modułu (Core/) jest świadomie wolny od Magento, więc testy nie
    potrzebują kontenera, bazy ani zainstalowanego sklepu: wystarczy autoloader
    PSR-4 z tests/bootstrap.php. Uruchomienie z katalogu modułu:

        phpunit -c phpunit.xml.dist

    (dowolny PHPUnit 10+; pakiet nie wymaga własnego composer install).
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         failOnRisky="true"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="calmfox-watch-magento">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">Core</directory>
        </include>
    </source>
</phpunit>
